JSONSchema/bin
JSONSchema/obj
JSONSchema2POCO.Tests/bin/
JSONSchema2POCO.Tests/obj/
.vs/
ClassGenerator/obj/
ClassGenerator/bin/
JSONSchema/obj/
JSONSchema2POCO.Tests/bin/
ClassGeneratorApp/bin/
ClassGeneratorApp/obj/
TestApp/
